<% if (typeof(title) == "undefined" ) { 
    let title = "undefined" 
}%>

<head>
  <meta charset="utf-8">
  <title>SDB2 
      <%=title %>
  </title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
