<header>
  <nav class="no_mark">
    <li><a href="home">Homepage</a></li>
    <li><a href="select">Select</a></li>
    <li><a href="insert">Insert</a></li>
    <li><a href="about">About</a></li>
  </nav>
</header>
