html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}

header { 
  overflow: hidden;
  background-color: #333;
  color: #fff;

  li {
    float: left;

    a:visited, a:hover, a:active {
      color: inherit;
    }
    a {
      display: block;
      padding: 14px 16px;
      text-align: center; /*??*/
      text-decoration: none
    }
  }
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #adf;

}

main {
  padding-bottom: 90px;
}

@media(min-width: 900px) { 
  main {
    padding: 0 10% 90px 10%;
  }
}

.no_mark {
  list-style-type: none;
}
.none {
    display: none
}
