<% layout('layouts/main') %>

<main>
  <h2>Наша команда разработки</h2>
  <ol class="no-marks list-zero">
    <li>
      Марк | tonakihan
      <p>
        Великий из великих - Под его руководством проект начал свой путь.
        Из под его руки вышли на свет великолепные CLI и Web-интерфейс.
      </p>
      <p><a href="https://github.com/tonakihan">GitHub</a></p>
    </li>
    <li>
      Илья | porovos
      <p>
        Главный по безпристрастному наблюдению - Он встал на этот грешный
        путь спустя непродолжительное время и внес значительные изменения.
        Он поднял из руин великого GUI!
      </p>
      <p><a href="https://github.com/porovos">GitHub</a></p>
    </li>
    <li>
      Степан | FOXY255
      <p>
        Его прозвали второй Иисус - Он тот кто не дал всему сообществу
        рухнуть и поддерживал нас. Человек который видит больше чем
        обычные смертные, гордо величаемых - тестировщики.
      </p>
      <p><a href="https://github.com/FOXY255">GitHub</a></p>
    </li>
    <li>
      Арсений | TheArseny
      <p>
        Агент КГБ. Тот кто приходит и не уходит. Человек добрая и одновременно
        подозрительная душа - он смог сделать setup, но никто не знает
        как.
      </p>
      <p><a href="https://github.com/TheArseny">GitHub</a></p>
    </li>
  </ol>
</main>
