<% layout('layouts/main') %>

<main>
  <h2 id="About-SBD2">О SDB2</h2>
  <p>
    Добро пожаловать на сайт, посвященный комплексу программного
    обеспечения SimpleDataBase2 - инновационному решению для создания
    электронного журнала преподавателей.
  </p>
  <p>
    SimpleDataBase2 (SDB2) - это мощный и удобный инструмент,
    разработанный специально для упрощения процесса ведения электронного
    журнала преподавателями. Он объединяет в себе функциональность
    программы с графическим интерфейсом (GUI), командной строки (CLI) и
    веб-интерфейта, что позволяет использовать его на различных платформах
    и устройствах.
  </p>
  <p>
    Главная цель SimpleDataBase2 - предоставить преподавателям инструмент,
    который значительно упростит ведение электронного журнала. Благодаря
    простому и интуитивно понятному интерфейсу, преподаватели смогут легко
    вести учет успеваемости студентов, оценивать их работы, создавать
    расписания занятий и многое другое.
  </p>
  <ol class="list-zero no-marks">
    <label class="list-zero"><b>Преимущества SimpleDataBase2:</b></label>
    <li>
      <u>Удобный интерфейс:</u>
      <p class="list-zero">
        Программа обладает интуитивно понятным и простым в использовании
        интерфейсом, что позволяет преподавателям быстро освоиться с
        программой и начать использовать ее.
      </p>
    </li>
    <li>
      <u>Многофункциональность:</u>
      <p class="list-zero">
        SimpleDataBase2 предлагает широкий набор функций, включая создание
        и редактирование журналов, ввод и обработку оценок, формирование
        отчетов и многое другое. Программа позволяет преподавателям
        эффективно управлять всеми аспектами учебного процесса.
      </p>
    </li>
    <li>
      <u>Гибкость и доступность:</u>
      <p class="list-zero">
        Благодаря наличию GUI, CLI и веб-интерфейта, SimpleDataBase2
        доступен для использования на различных устройствах и операционных
        системах. Преподаватели могут работать с программой на
        компьютерах, планшетах и даже смартфонах.
      </p>
    </li>
    <li>
      <u>Безопасность данных:</u>
      <p class="list-zero">
        SimpleDataBase2 обеспечивает высокий уровень безопасности данных.
        Все информация хранится в зашифрованном виде и доступна только
        авторизованным пользователям.
      </p>
    </li>
    <li>
      <u>Поддержка и обновления:</u>
      <p class="list-zero">
        Команда разработчиков SimpleDataBase2 предлагает надежную
        техническую поддержку и обновления программы, что гарантирует ее
        стабильную работу и соответствие современным требованиям.
      </p>
    </li>
  </ol>
  <p>
    Если вы преподаватель и ищете простое и эффективное решение для
    ведения электронного журнала, SimpleDataBase2 - идеальный выбор для
    вас. Начните использовать программу прямо сейчас и упростите свою
    работу!
  </p>
</main>
