<% layout('layouts/main') %>

<main>
  <form name="one" action="/api" method="post"> 
    <label for="target" class="name-set">Тип данных</label>
    <%- include('../modules/select') %>

    <div id="Студент" class="none"> <!-- Нужно добавить поля -->
    </div>
    <div id="Направление" class="none">
    </div>
    <div id="Посещаемость" class="none">
    </div>
    <div id="Ведомость" class="none">
    </div>
    <div id="Тема_занятия" class="none">
    </div>
    <div id="Предмет" class="none">
    </div>
    <div id="Факультет" class="none">
    </div>

    <button type="submit" form="one">Send</button> 
  </form>
</main>
