<% layout('layouts/main') %>

<script src="scripts/dynamic-select.js"></script>

<main>
  <form name="one" action="/api" method="get"> <!-- Дописать -->
    <label for="target" class="name-set">Тип данных</label>
    <%- include('../modules/select') %>
    <button type="submit">Get</button> <!-- Повесить действие -->
  </form>

  <div id="output"></div>
</main>
